.block1{
    
    height: 650px;
    background-color:#00A18D;
    
    
}

.block2{
    
    height:650px;
    background-color:white;
}
.block3{
    
    height: 650px;
    background-color:#00A18D;
    
    
}


.cont2{
    
    margin-top: 250px;
   
}
.cont3{
font-size: 50px;
color: white;
font-family: 'Roboto Slab', serif;
}
.cont4{
    font-size: 32px;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.cont5{
    font-size: 35px;
    margin-top: 10px;
    font-family: 'Fjalla One', sans-serif;
}
.cont6{
    font-size: 30px;
    color: #00A18D;
    margin-top: 45px;
    font-family: 'Roboto Slab', serif;
}
.cont7{
    font-size: 25px;
    margin-top: 25px;
}
.cont8{
    width: 555px;
    height: 20px;
    margin-top;-30px;
    
    
}

.progress-bar {
    
    width: 80%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #242424;
}
.progress-bar1 {
    
    width: 65%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #242424;
}
.progress-bar2 {
    
    width: 60%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #242424;
}
.progress-bar3 {
    
    width: 70%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #242424;
}
.email{
    font-size: 20px;
    margin-top: 45px;
    margin-left: 20px;
}
.ph{
    font-size: 20px;
        margin-top: -28px;
   
}
.f-f-k{
   font-family: 'Raleway', sans-serif;
}
.skills{
    height:500px; background-color:#eb6a27; color:white;
}
@media only screen and (max-width: 320px) {

    .block1{
        width: 100%;
    }

}

